@using Newtonsoft.Json;
@model IEnumerable<webapi.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

<div id="app">
    <IndexComponent CreateExpenseUrl="@Url.Action("Create")" DeleteExpenseUrl="@Url.Action("Delete")" 
                    EditExpenseUrl="@Url.Action("Edit")" DetailsExpenseUrl="@Url.Action("Details")" 
                    :expenses="@JsonConvert.SerializeObject(Model)"></IndexComponent>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Expense.js")"></script>
}